<div id="content">
    <bold><h3>{{ org_name }}</h3></bold>
    {{ address.address_line_one }}<br />
    {{ address.address_line_two }}<br />
    {{ address.city }}, {{ address.state }} {{ address.zip10 }}<br />

    <p></p>
    <div>
        <table border="0">
            {% for value, name in boolean_fields.iteritems %}
                <tr>
                    <td><b>{{ name }}</b></td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}

            {% for value, name in integer_fields.iteritems %}
                <tr>
                    <td><b>{{ name }}</b></td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}

            {% for value, name in string_fields.iteritems %}
                <tr>
                    <td><b>{{ name }}</b></td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>